body {
  font-family: Helvetica, Arial, sans-serif;
}
.navbar {
  margin: 0 auto 30px;
  border-bottom: 1px dashed #007722;
}
.navbar ul.nav {
  width: 900px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
}
.navbar ul.nav li {
  float: left;
  margin-right: 10px;
}
.navbar ul.nav li a {
  color: #007722;
  text-decoration: none;
}
.navbar ul.nav li a:hover {
  text-decoration: underline;
}
.alert-bar {
  width: 900px;
  margin: 10px auto;
}
.alert-bar .alert {
  padding: 5px 0px;
}
.alert-bar .alert-success {
  border: 1px solid #007722;
  color: #007722;
}
.alert-bar .alert-error {
  border: 1px solid red;
  color: red;
}
.alert-bar p {
  margin: 0px 0px 0px 10px;
}
.container {
  width: 900px;
  margin: 0 auto;
}
footer {
  width: 900px;
  margin: 30px auto;
  border-top: 1px dashed #007722;
  height: 30px;
  line-height: 30px;
}
.welcome {
  border: 1px solid #007722;
  padding: 10px;
  margin-bottom: 20px;
}
.btn {
  margin: 0px 10px 0px 0px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.login {
  background-color: #007722;
}
.register {
  background-color: #ef7360;
}
.lo-re {
  margin-top: 10px;
}
.form-fie {
  margin: 10px 0px;
  height: 30px;
}
.form-fie label {
  width: 80px;
  float: left;
  text-align: right;
  margin-right: 15px;
  line-height: 30px;
}
.form-fie .input-div {
  float: left;
}
.form-fie .input-div input {
  padding: 5px;
}
.row .weibo {
  margin: 0px 0px 10px;
}
.row .weibo a {
  color: #3377aa;
  text-decoration: none;
}
.row .weibo a:hover {
  text-decoration: underline;
}
.row .weibo .w-detail {
  padding: 5px;
}
.row .weibo .w-detail span {
  font-size: 0.5em;
  color: #555555;
}
.say {
  margin: 0px 0px 20px;
  line-height: 66px;
}
.say textarea {
  float: left;
  height: 60px;
  width: 300px;
}
.say .public {
  background-color: #007722;
  margin-left: 20px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
p,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
