<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>target1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,145},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,145},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,288},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>target9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,288},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>target_l.png</string>
            <key>size</key>
            <string>{446,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bbd27fc992b7f68aa53359daa51e6e8:f7aa2cc3f86d4fc5b84d66c5dcc16f3d:4f6847abcc216807b33e85d009a84ca5$</string>
            <key>textureFileName</key>
            <string>target_l.png</string>
        </dict>
    </dict>
</plist>
