<%- include header %>
<form method="post">
	<div>
		<label>标题：</label>
		<input type="text" name="title">
	</div>
	<div>
		<label>正文：</label>
		<textarea name="post" rows="20" cols="100"></textarea>
	</div>
	<div>
		<input type="submit" value="发表">
	</div>
</form>
<%- include footer %>