<%- include header %>
	<form method="post">
		<div>
			<span>username:</span>
			<input type="text" name="name">
		</div>
		<div>
			<span>password:</span>
			<input type="password" name="password">
		</div>
		<div>
			<span>check password:</span>
			<input type="password" name="password-repeat">
		</div>
		<div>
			<span>email</span>
			<input type="text" name="email">
		</div>
		<div>
			<input type="submit" name="注册">
		</div>
	</form>
<%- include footer %>