
<% if (!user) { %>
  <div class="welcome">
    <h1>欢迎来到 blog-demo</h1>
    <p>这是一个基于 Node.js 的微博系統。</p>
    <p class="lo-re">
      <a class="btn login" href="/login">登录</a>
      <a class="btn register" href="/reg">注册</a>
    </p>
  </div>
<% } else { %>
   <%- partial('say') %> 
<% } %>
<%- partial('posts', {posts:posts}) %> 