<form class="form" method="post">
    <h2>用户注册 :</h2>
    <div class="form-fie clearfix">
      <label for="username">用户名</label>
      <div class="input-div">
        <input type="text" class="input-large" id="username" name="username">
      </div>
    </div>
    <div class="form-fie clearfix">
      <label for="password">密码</label>
      <div class="input-div">
        <input type="password" class="input-large" id="password" name="password">
      </div>
    </div>
    <div class="form-fie clearfix">
      <label for="password-repeat">重复密码</label>
      <div class="input-div">
        <input type="password" class="input-large" id="password-repeat" name="password-repeat">
      </div>
    </div>
    <div class="form-fie clearfix">
      <label>&nbsp;</label>
      <div class="input-div">
        <button type="submit" class="btn register">注册</button>
      </div>
    </div>
</form>
