$red : red;

body{
  font-family: Microsoft YaHei,Arial,SimSun,Tahoma;
}
.hd,.info{
  margin: 0 10px 10px;
}
.wrapper{
  margin: 5px 10px 0;
}
.login-box{
  div{
    margin: 15px auto;
  }
}
.register-box{
  div{
    margin: 15px auto;
  }
}
#warn-line{
  color: $red;
}